{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
<footer class="footer">
    <div class="page-width">
      <div class="footer__content">
        <div class="Brand_INFO">
        {%- if section.settings.show_footer_logo -%}
          <div class="footer__logo">
            {%- if section.settings.footer_logo != blank -%}
              {{ section.settings.footer_logo | image_url: width: 170 | image_tag: loading: 'lazy', class: 'footer-logo' }}
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="footer__links-center">
          <div class="footer__newsletter">
            <h3>Newsletter</h3>
            {% form 'customer', id: 'ContactFooter', class: 'footer__newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    placeholder="Email address"
                    required
                  >
                  <button
                    type="submit"
                    class="newsletter-form__button"
                    name="commit"
                  >
                    Subscribe
                  </button>
                </div>
              </div>
            {% endform %}
          </div>
        </div>
        
    </div>

        <div class="footer__menus">
          <ul class="footer__menu list-unstyled">
                                <li><a href="/pages/contact-us">Reach us</a></li>
                                <li><a href="/collections/">Collections</a></li>
                                <li><a href="/">Home</a></li>
                              </ul>
        </div>
      </div>
      <hr>
      <div>
        
        <ul class="policies list-unstyled" style="display:flex; gap:1rem">
            <li>&copy;Hawk&Wolf 2024</li> 
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}" style="text-decoration:none;color:grey">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
      </div>
    </div>
  </footer>
  
  <style>

    .Brand_INFO{
        text-align: center;
    display: flex
;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
  .footer {
    padding: 40px 0;
    background: #ffffff;
  }
  

  .footer__content {
    display: flex;
    flex-direction:column;
    justify-content:space-between;

  }
  
  .footer__logo {
    max-width: 150px;
  }
  
 
  
  .footer__menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .footer__menu-title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__menu-items li {
    margin-bottom: 10px;
  }
  
  .footer__menu-link {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    border-radius:2px 2px 2px 2px;
    transition:.2s;
    padding:1px;
  }
  
  .footer__menu-link--active {
    text-decoration: underline;
  }
  .footer__menu-link:hover{
    background:#3976BE;
    color:white;
    text-decoration:underline
}
  
  @media screen and (min-width: 750px) {
    .footer__content {
        flex-direction:row;
    }

    .footer__menus {
      grid-column: 2;
    }
  }
  </style>
