{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{% comment %} footer {% endcomment %}
{% stylesheet %}
  <style>
  .footer {
    padding: 50px 0;
    font-family: serif;
  }
  
  .footer__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 40px; */
  }
  
  .footer__copyright p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer__newsletter h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
  }
  
  .newsletter-form__field-wrapper {
    display: flex;
  }
  
  .field {
    display: flex;
  }
  
  .field__input {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    padding: 5px 0;
    font-family: serif;
    font-size: 14px;
    min-width: 200px;
  }
  
  .newsletter-form__button {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: serif;
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
    width:fit-content !important;
    background-color: #89CFF0 !important;
    padding-right:8px !important;
    /* color:white !important; */
  }
  
  .footer__menu {
    margin: 0;
    padding: 0;
  }
  
  .footer__menu li {
    margin-bottom: 10px;
  }
  
  .footer__menu a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer__menu a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .footer__content-wrapper {
      flex-direction: column;
      gap: 30px;
    }
    
    .footer__links-center,
    .footer__links-right,
    .footer__social-policy {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 769px) {
    .footer__copyright {
      width: 20%;
    }
    
    .footer__links-center {
      width: 40%;
    }
    
    .footer__links-right,
    .footer__social-policy {
      width: 15%;
    }
  }
  </style>
{% endstylesheet %}
<div class="fullpage-section footerSection">
  <div class="section-background normal-section">
  </div>
  <div class="section-content">
      <div class="text-content section-normal">
          <footer class="footer section-{{ section.id }}-padding">
              <div class="page-width">
                <div class="footer__content-wrapper">
                  <!-- Copyright on left -->
                      {% comment %} <div class="footer__copyright">
                      <p>&copy; {{ shop.name }} {{ 'now' | date: '%Y' }}</p>
                      </div> {% endcomment %}
                  
                  <!-- Newsletter and links in center -->
                  <div class="footer__links-center">
                    <div class="footer__newsletter">
                      <h3>Join the Waitinglist</h3>
                      {% form 'customer', id: 'ContactFooter', class: 'footer__newsletter-form' %}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input"
                              value="{{ form.email }}"
                              placeholder="Email address"
                              required
                            >
                            <button
                              type="submit"
                              class="newsletter-form__button"
                              name="commit"
                            >
                              Subscribe
                            </button>
                          </div>
                        </div>
                      {% endform %}
                    </div>
                  </div>
                  
                  <!-- Right links -->
                  <div class="footer__links-right">
                    <ul class="footer__menu list-unstyled">
                        <li><a href="/collections/">All Collections</a></li>
                        <li><a href="/collections/exclusive">Exclusive</a></li>
                        <li><a href="/collections/archive">Archive</a></li>
                        <li><a href="/search">Search</a></li>
                    </ul>
                  </div>
                  <div class="footer__links-right">
                      <ul class="footer__menu list-unstyled">
                          <li><a href="/pages/about">Our Story</a></li>
                          <li><a href="/blogs/designers-note">Designers Note</a></li>
                          <li><a href="/pages/contact">Reach us</a></li>
                          <li><a href="/pages/contact">Terms & policies</a></li>
                      </ul>
                    </div>
                  
                  <!-- Social and policy links -->
                  <div class="footer__social-policy">
                    <ul class="footer__menu list-unstyled">
                      <li><a href="https://www.instagram.com/hawknwolf/">Instagram</a></li>
                      {% comment %} <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
                      <li><a href="/policies/terms-of-service">Terms</a></li> {% endcomment %}
                      <li><a href="https://x.com/">Twitter(X)</a></li>
                      <li><a href="/blog/">Blog</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
            
            {% comment %} <hr>
            <div>
              <ul class="policies list-unstyled" style="display:flex; gap:3px">
                  <li style="color:black">&copy;Hawk&Wolf 2025</li> 
                  {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                      <li>
                        <small class="copyright__content"
                          ><a href="{{ policy.url }}" style="text-decoration:none;color:grey">{{ policy.title | escape }}</a></small
                        >
                      </li>
                      
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
            </div>
             {% endcomment %}
      </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
const menuButton = document.querySelector('.header__icon--menu');
const header = document.querySelector('.header');
const logoImage = document.querySelector('.header__heading-logo-wrapper');

// Store the original image source
const originalSource = logoImage.innerHTML;
const newSource = `<img src="/cdn/shop/files/logo_white.png?v=1739599333&amp;width=600" alt="HawknWolf.dev" srcset="/cdn/shop/files/logo_white.png?v=1739599333&amp;width=130 130w, /cdn/shop/files/logo_white.png?v=1739599333&amp;width=195 195w, /cdn/shop/files/logo_white.png?v=1739599333&amp;width=260 260w" width="130" height="38.40909090909091" loading="eager" class="header__heading-logo motion-reduce" sizes="(max-width: 260px) 50vw, 130px">`

menuButton.addEventListener('click', function() {
  header.classList.toggle('menu-open');
  
  // Toggle between the two image sources
  if (logoImage.innerHTML === originalSource) {
    logoImage.innerHTML = newSource;
  } else {
    logoImage.innerHTML = originalSource;
  }
});

</script>

  
  {% schema %}
  {
    "name": "Custom Footer",
    "blocks": [
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Menu",
            "label": "Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Menu"
          }
        ]
      }
    ],
    "settings": [
    ],
    "presets": [
      {
        "name": "Custom Footer",
        "blocks": [
          {
            "type": "link_list",
            "settings": {
              "heading": "COLLECTIONS",
              "menu": "footer"
            }
          },
          {
            "type": "link_list",
            "settings": {
              "heading": "CUSTOMER SERVICES",
              "menu": "footer"
            }
          },
          {
            "type": "link_list",
            "settings": {
              "heading": "BRAND",
              "menu": "footer"
            }
          }
        ]
      }
    ]
  }
  {% endschema %}
  
  <style>

    .Brand_INFO{
        text-align: center;
    display: flex
;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
  .footer {
    padding: 40px 0;
    background: #ffffff;
  }
  .newsletter-form__button{
    background: #3976BE !important;
    
}
  .footer__content {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    row-gap: 2rem;
  }
  
  .footer__logo {
    max-width: 150px;
  }
  
  .footer__newsletter {
    max-width: 400px;
  }
  
  .newsletter__heading {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .newsletter__text {
    margin-bottom: 20px;
    font-size: 12px;
  }
  
  .newsletter-form__field-wrapper {
    display: flex;
    gap: 10px;
  }
  
  .newsletter-form__field {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #000;
  }
  
  .newsletter-form__button {
    padding: 8px 20px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .footer__menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .footer__menu-title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__menu-items li {
    margin-bottom: 10px;
  }
  
  .footer__menu-link {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    border-radius:2px 2px 2px 2px;
    transition:.2s;
    padding:1px;
  }
  
  .footer__menu-link--active {
    text-decoration: underline;
  }
  .footer__menu-link:hover{
    background:#3976BE;
    color:white;
    text-decoration:underline
}
  
  @media screen and (min-width: 750px) {
    .footer__content {
        flex-direction:row;
    }
    
    .footer__newsletter {
      grid-column: 1;
    }
    
    .footer__menus {
      grid-column: 2;
    }
  }
  </style>
